.row.pagination-container
  h2.is-vishidden Pagination
  ul
    if page > 1
      li
        a.cta.prev.pagination-page(
          href=`${urlSlug}?page=${page-1}${params}`
        ) Previous

    - var n = 0
    while ++n <= totalPages
      - var fewPages = totalPages < 10
      - var nearStart = page < 5 && n < 10
      - var nearCurrent = Math.abs(n - page) < 5
      - var nearEnd = (Math.abs(page - totalPages) < 5 && n > totalPages - 10)
      if totalPages === 1
        li.pagination-page.pagination-page-current='Page 1 of 1'
      else if n === page
        li.pagination-page.pagination-page-current
          span.is-vishidden Page&nbsp;
          span=n
      else if fewPages || nearStart || nearCurrent || nearEnd
        li
          a.pagination-page(
            href=`${urlSlug}?page=${n}${params}`
          )
            span.is-vishidden Page&nbsp;
            span=n

    if page < totalPages
      li
        a.cta.pagination-page(
          href=`${urlSlug}?page=${page+1}${params}`
        ) Next
